<div class="container">
  <h1>Stupid Coaching</h1>

  <form action="/answer" data-turbo="false" class="row">

    <label for="question" class="mb-2">Ask your coach anything:</label>
    <div class="input-group mb-3">
      <input type="text" id="question" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary opacity-75">
    </div>
  </form>
</div>
